#about {
  background-size: cover; /* La imagen cubre todo el fondo */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que se repita */
  color: #fff; /* Cambia el color del texto a blanco para contraste */
  padding: 50px; /* Espaciado interno */
  text-align: center; /* Alinea el contenido */
}

.card {
  width: 200px;
  height: 450px;
  perspective: 1000px;
  margin: 20px auto; /* Centra las tarjetas horizontalmente */
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-image: linear-gradient(rgba(0, 0, 0, 0.667), rgba(0, 0, 0, 0.676)), 
                    url("../assets/recarequipo2.jpg"); /* Imagen de fondo */
  background-size: cover; /* La imagen cubre todo el contenedor */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  color: #fff; /* Texto blanco para contraste */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid #fefefe; /* Mantén tu estilo actual */
  border-radius: 20px;
  font-size: 24px;
  transform: rotateY(0deg);
  text-align: center; /* Alinea el texto centrado */
  padding: 20px; /* Espaciado interno */
}

.card-back {
  background-color: #15084ab4;
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid #22130d4f;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(180deg);
}
