#about {
  padding: 60px 0;
}

.about-container {
  padding: 40px;
  margin: 10px; /* Margen de 10px a cada lado */
  border-radius: 15px; /* Bordes redondeados */
  background-color: #ffffff; /* Fondo blanco */
  box-shadow: 0 4px 10px #00000024; /* Sombra sutil debajo */
  width: calc(100% - 200px); /* Ocupa todo el ancho menos 50px de margen a cada lado */
  margin-left: auto;
  margin-right: auto; /* Centra el contenedor */
  box-sizing: border-box; /* Asegura que el padding no se agregue al ancho total */
}

.about-text {
  padding-left: 20px;
}

.about-text h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about-text h3 {
  font-size: 28px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 18px;
  line-height: 1.6;
}

.list-style {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.list-style ul {
  list-style-type: none;
  padding: 0;
}

.about-text p {
  text-align: justify;
  line-height: 1.6;
}

.list-style li {
  font-size: 18px;
  margin-bottom: 10px;
}

#about img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .about-container {
    padding: 20px; /* Reduce el padding en pantallas más pequeñas */
    margin-bottom: 100px;
  }

  .about-text {
    padding-left: 0;
  }

  .about-text h2 {
    font-size: 28px;
  }

  .about-text h3 {
    font-size: 24px;
  }

  .about-text p {
    font-size: 16px;
  }

  .list-style {
    flex-direction: column;
  }

  .list-style li {
    font-size: 16px;
  }
}
