#about {
  background-size: cover; /* La imagen cubre todo el fondo */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que se repita */
  color: #fff; /* Cambia el color del texto a blanco para contraste */
  padding: 50px; /* Espaciado interno */
  text-align: center; /* Alinea el contenido */
}

.card {
  width: 200px;
  height: 450px;
  perspective: 1000px;
  margin: 20px auto; /* Centra las tarjetas horizontalmente */
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  text-align: justify; /* Justifica el texto en la parte frontal y trasera */
}

.card-front {
  background-image: linear-gradient(rgba(0, 0, 0, 0.381), rgba(0, 0, 0, 0.676)), 
                    url("../assets/recarequipo2.jpg"); /* Imagen de fondo */
  background-size: cover; /* La imagen cubre todo el contenedor */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  color: #fff; /* Texto blanco para contraste */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid #fefefe; /* Mantén tu estilo actual */
  border-radius: 20px;
  font-size: 24px;
  transform: rotateY(0deg);
  text-align: justify; /* Justifica el texto en la parte frontal */
  padding: 20px; /* Espaciado interno */
}

.card-back {
  background-color:rgba(6, 28, 60, 0.895);
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid #22130d4f;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(180deg);
  padding: 20px;
}

.card-back p,
.card-front p {
  margin: 10px 0; /* Agrega un margen para separar los párrafos */
}

.card-back ul {
  margin: 0; /* Asegúrate de que la lista no tenga márgenes adicionales */
  padding: 0; /* Elimina el relleno de la lista */
  list-style-position: inside; /* Alinea los puntos de la lista dentro del contenedor */
}

.quienes-somos-container {
  display: flex;
  justify-content: space-between; /* Divide el contenido en dos columnas */
  gap: 20px; /* Espacio entre las columnas */
  margin: 20px 0;
}

.quienes-somos-left,
.quienes-somos-right {
  flex: 1; /* Cada columna toma el mismo ancho */
  text-align: justify; /* Justifica el texto */
  padding: 20px;
  background-color: rgba(6, 28, 60, 0.895); /* Fondo semi-transparente opcional */
  border-radius: 12px; /* Bordes redondeados */
  font-size: 18px; /* Cambia el tamaño de la fuente aquí (puedes ajustar el valor) */
}

#about h1 {
  color: #000; /* Color negro */
}
