/* Contenedor de todo el contenido con márgenes laterales pequeños */
.container-fluid {
    margin: 0;
    padding: 0 5px;  /* Añadir pequeño margen a los lados */
  }
  
  /* Hacer que las tarjetas ocupen el 100% de la columna */
  .card {
    width: 100%;
  }
  
  /* Las imágenes dentro de las tarjetas ocupan todo el ancho */
  .card-img-top {
    width: 100%;
  }
  
  /* Asegurar que el contenido de la tarjeta no esté pegado a los bordes */
  .card-body {
    padding: 15px;
  }
  
  .btn-custom {
    background-color: rgba(6, 28, 60, 0.895);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    position: absolute;
    bottom: 70px; /* Ajusta la posición a 30px del borde inferior */
    left: 50%;
    transform: translateX(-50%); /* Centrar horizontalmente */
    width: 60%; /* Ajusta el tamaño según necesites */
  }
