body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.simulador-page-container {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #060339; /* Color azul */
  padding: 0; /* Elimina el padding */
  box-sizing: border-box;
}

@media (max-width: 1199px) {
  .simulador-page-container {
    height: 100vh; /* Mantiene el alto al 100% en pantallas grandes */
  }
}

@media (max-width: 991px) {
  .simulador-page-container {
    height: 100vh; /* Asegura que se mantenga a pantalla completa */
    padding: 10px; /* Ajusta el padding en pantallas más pequeñas */
  }
}

@media (max-width: 767px) {
  .simulador-page-container {
    flex-direction: column; /* Cambia la dirección del contenido en pantallas más pequeñas */
    height: 100vh; /* Asegura que ocupe todo el alto */
  }
}

@media (max-width: 575px) {
  .simulador-page-container {
    flex-direction: column; /* Alinea los elementos de forma vertical */
    padding: 5px; /* Ajusta el padding */
  }
}
