body, html {
  margin: 0;
  padding: 0;
  height: 100%; /* Asegura que el body y el html ocupen todo el alto de la pantalla */
}

.body-simulador {
  background-color: black;
  color: white; /* Para que el texto sea legible sobre el fondo negro */
  min-height: 100vh; /* Asegura que ocupe todo el alto de la pantalla */
  width: 100%; /* Asegura que ocupe todo el ancho de la pantalla */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.u-section-1 .u-sheet-1 {
  width: 100%;
  min-height: 100vh; /* Asegura que ocupe todo el alto de la pantalla */
  display: flex;
  justify-content: center;
  align-items: center;
}

.u-section-2 {
  width: 100%;
  background-color: #001f3f; /* Azul marino */
  padding: 20px;
  color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.u-section-2 .u-sheet-1 {
  width: 100%;
  min-height: 100%; /* Asegura que ocupe todo el alto disponible */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.u-section-2 .u-image-1 {
  width: 100%; /* Asegura que la imagen ocupe todo el ancho */
  height: auto; /* La imagen se ajustará manteniendo su proporción */
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url('images/photo-1589829545856-d10d557cf95f.jpeg');
  background-position: center;
  margin: 0 auto;
}

.u-section-2 .u-form-1 {
  width: 100%; /* Ocupa todo el ancho disponible */
  margin: 20px auto;
  max-width: 691px; /* Limita el ancho máximo */
  height: auto; /* No requiere altura fija */
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    margin-right: 0;
  }

  .u-section-2 .u-form-1 {
    width: 100%;
    max-width: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    width: 100%;
  }

  .u-section-2 .u-form-1 {
    width: 100%;
    max-width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    width: 100%;
  }

  .u-section-2 .u-form-1 {
    width: 100%;
    max-width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    width: 100%;
  }

  .u-section-2 .u-form-1 {
    width: 100%;
    max-width: 320px;
  }
}
