.simulador-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura para que no sea enorme */
    background-color: #9dc11ad7; /* Un color de fondo para distinguir la pantalla */
    padding: 20px;
  }
  